@import "../../bower/normalize-scss/_normalize";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// $fa-font-path: "../../resources/bower/font-awesome/fonts";
@import "../../bower/font-awesome/scss/font-awesome";

html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}